{% extends "reversion/change_list.html" %}
{% load adminmedia %}


{% block extrahead %}
    {{block.super}}
    {% if is_popup %}
        <script type="text/javascript" src="{% admin_media_prefix %}js/jquery.min.js"></script>
        <script type="text/javascript" src="{% admin_media_prefix %}js/jquery.init.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}cms/js/tiny_mce/tiny_mce_popup.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}cms/js/jquery.filebrowser.js"></script>
        <script type="text/javascript">
        // <![CDATA[
            (function($, tinyMCE, tinyMCEPopup) {
                tinyMCEPopup.onInit.add(function() {
                    $.filebrowser.initBrowser();
                });
            }(django.jQuery, tinyMCE, tinyMCEPopup));
        // ]]>
        </script>
    {% endif %}
{% endblock %}