<form action="{{search_page.url}}" id="{{form_id}}">
    <div>
        <input type="hidden" name="cx" value="{{search_page.content.search_engine_id}}" />
        <input type="hidden" name="cof" value="FORID:11" />
        <input type="hidden" name="ie" value="UTF-8" />
        <input id="id_q" type="text" name="q" size="31" value="{{search_term}}"/>
        <input type="submit" name="sa" value="Search" />
    </div>
</form>

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">google.load("elements", "1", {packages: "transliteration"});</script>
<script type="text/javascript" src="http://www.google.com/coop/cse/t13n?form={{form_id}}&t13n_langs=en"></script>

<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form={{form_id}}&lang=en"></script>

