{% extends "admin/index.html" %}
{% load adminmedia %}
{% load url from future %}


{% block extrahead %}
    {{block.super}}
    <script type="text/javascript" src="{% admin_media_prefix %}js/jquery.min.js"></script>
    <script type="text/javascript" src="{% admin_media_prefix %}js/jquery.init.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}cms/js/dashboard.js"></script>
{% endblock %}



{% block sidebar %}
    {% if "cms.apps.pages" in settings.INSTALLED_APPS %}
        <div id="content-related">
            {% if perms.pages.change_page %}
                <div id="sitemap-panel">
                    <div id="sitemap-module" class="module">
                        <h2>Sitemap</h2>
                        <noscript>
                            <p>Please turn on javascript to activate the sitemap.</p>
                        </script>
                    </div>
                </div>
            {% endif %}
        </div>
    {% else %}
        {{block.super}}
    {% endif %}
{% endblock %}