{% extends "admin/index.html" %}
{% load adminmedia pages_admin %}


{% block extrahead %}
    {{block.super}}
    <script type="text/javascript" src="{% admin_media_prefix %}js/jquery.min.js"></script>
    <script type="text/javascript" src="{% admin_media_prefix %}js/jquery.init.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}cms/js/dashboard.js"></script>
{% endblock %}



{% block sidebar %}
    {% if "cms.apps.pages" in settings.INSTALLED_APPS %}
        {% sitemap %}
    {% else %}
        {{block.super}}
    {% endif %}
{% endblock %}