{% load pages_admin %}
<li>
    <div class="sitemap-entry{% if not is_online %} offline{% endif %}{% if can_change %} can-change{% endif %}">
        {% if can_change %}
            <a href="{{change_url}}" class="title" title="Edit this {{verbose_name}}">{{page}}</a>
        {% else %}
            <span class="title">{{page}}</span>
        {% endif %}
        {% if can_add %}
            <a href="{{add_url}}" class="addlink" title="Add a new page underneath this page">Add</a>
        {% endif %}
        {% if can_change %}
            <a href="{{change_url}}" class="changelink" title="Edit this page">Change</a>
        {% endif %}
        {% if can_delete %}
            <a href="{{delete_url}}" class="deletelink" title="Delete this page">Delete</a>
        {% endif %}
        {% if can_move %}
            <form method="post" action="{% url admin:move_page %}">
                <input type="hidden" name="page" value="{{page.id}}"/>
                {% csrf_token %}
                <button type="submit" class="move-up" title="Move this page up" name="direction" value="up"><span>Up</span></button>
                <button type="submit" class="move-down" title="Move this page down" name="direction" value="down"><span>Down</span></button>
            </form>
        {% endif %}
    </div>
    {% if children %}
        <ul>
            {% for child in children %}
                {% sitemap_entry child %}
            {% endfor %}
        </ul>
    {% endif %}
</li>