{% extends "admin/base_site.html" %}


{% block breadcrumbs %}
    <div class="breadcrumbs">
         <a href="../">Home</a> &rsaquo;
         Change password
    </div>
{% endblock %}


{% block userlinks %}
    <a href="../../edit-details/">Edit details</a> /
    <a href="../../password_change/">Change password</a> /
    <a href="../../logout/">Log out</a>
{% endblock %}


{% block title %}Password change successful{% endblock %}


{% block content %}

    <h1>Password change successful</h1>
    
    <p>Your password was changed.</p>
    
    <p><a href="../">&lsaquo; Return to dashboard</a>

{% endblock %}

