{% extends "pages/base.html" %}
{% load pages feeds %}


{% block feeds %}{% feed_link article.feed %}{% endblock %}


{% block title %}{{article.title}} - {{block.super}}{% endblock %}


{% block breadcrumbs %}
    {% breadcrumbs extended %}
    {% page_url page year_archive year as year_archive_url %}{% breadcrumb_link article|date_field|date:"Y" "../../" %}
    {% page_url page month_archive year,month as year_archive_url %}{% breadcrumb_link article|date_field|date:"F" "../" %}
    {% breadcrumb_title article %}
{% endblock %} 


{% block header %}<span class="date">{{article|date_field|date}}</span> <span class="title">{{article.title}}</span>{% endblock %}


{% block content_primary %}{{article.content|html}}{% endblock %}


{% block content_secondary %}

    {% article_archive article.feed year %}

{% endblock %}