{% extends "base.html" %}
{% load pages feeds %}


{% block feeds %}
    {% if feed_url %}
        <link rel="alternate" type="application/rss+xml" title="{{page.feed.title}}" href="{{feed_url}}"/>
    {% endif %}
{% endblock %}


{% block title %}<span class="date">{{page|date_field|date}}</span> <span class="title">{{block.super}}</span>{% endblock %}


{% block content_primary %}{{page.content|html}}{% endblock %}


{% block content_secondary %}

    {% article_archive page.feed year %}

{% endblock %}