{% load pages pagination %}
{% paginate articles as article_page %}
{% if article_page.object_list %}
    {% pagination article_page %}
    <ul class="article-list">
        {% for article in article_page.object_list %}
            <li class="{% if article.is_featured %}featured{% endif %} {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}">
                <h2>
                    <span class="date">{{article.date_field|date}}</span>
                    <a title="{{article.title}}" class="title" href="{{article.get_absolute_url}}">{{article.title}}</a>
                </h2>
                {% if article.summary %}
                    {{article.summary|html}}
                {% else %}
                    {{article.content|truncatewords_html:100|html}}
                {% endif %}
                <p class="read-more"><a title="{{article.title}}" href="{{article.get_absolute_url}}">Read more</a></p>
            </li>
        {% endfor %}
    </ul>
    {% pagination article_page %}
{% else %}
    <p>There are no {{verbose_name_plural}} to display.</p>
{% endif %}