{% load pages %}
{% if dates %}
    <div class="date-archive">
        <h2>Browse Archive</h2>
        <p>View older {{verbose_name_plural}} below.</p>
        {% regroup dates by year as year_archives %}
        <ul>
            {% for year_archive in year_archives %}
                <li class="{% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}">
                    <a title="Archive for {{year_archive.grouper}}" class="{% if year_archive.grouper == date.year %}here{% endif %}" href="{% page_url page year_archive year_archive.grouper %}">{{year_archive.grouper}}</a>
                    {% if year_archive.grouper == date.year %}
                        <ul>
                            {% for month_archive in year_archive.list %}
                                <li class="{% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}">
                                    <a title="Archive for {{month_archive|date:'F Y'}}" class="{% if month_archive.month == date.month %}here{% endif %}" href="{% page_url page month_archive year_archive.grouper, month_archive.month %}">{{month_archive|date:"F"}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}