{% load pages %}


{% if feed.items %}

    <div class="latest-articles">
    
        <h2><a href="{{feed.url}}">{{feed.title}}</a></h2>

        <ul>
        
            {% for item in feed.items %}
            
                <li class="{% first %} {% last %}">
                    
                    <a href="{{item.url}}">
                        
                        <span class="heading">
                            <span class="date">{{item.date|date}}</span>
                            <span class="title">{{item.title}}</span>
                        </span>
                        
                        <span class="summary">{{item.summary|striptags|truncatewords:5|safe}}</span>
                        
                    </a>
                    
                </li>
                
            {% endfor %}
            
        </ul>
    
    </div>
    
{% endif %}