{% if events %}
    <div class="latest-events">
        <h2><a title="{{feed.title}}" href="{{feed.get_absolute_url}}">{{feed.title}}</a></h2>
        <ul>
            {% for event in events %}
                <li class="{% if event.is_featured %}featured{% endif %} {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}">
                    <a title="{{event.title}}" href="{{event.get_absolute_url}}">
                        <span class="heading">
                            <span class="date">{{event.start_date|date}}</span>
                            <span class="title">{{event}}</span>
                        </span>
                        <span class="summary">{{event.summary|default:event.content|striptags|truncatewords:5|safe}}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}