{% load pages %}

{% if article_archive %}

    <div class="article-archive">
    
        <h2>Browse Archive</h2>
        
        <p>View older {{article_type_plural}} below.</p>
        
        <ul>
            {% for year_archive in article_archive %}
                <li class="{% first %} {% last %}">
                    <a class="{% here year_archive.url %}" href="{{year_archive.url}}">{{year_archive.year}}</a>
                    {% ifequal year_archive.year year %}
                        <ul>
                            {% for month_archive in year_archive.months %}
                                <li class="{% first %} {% last %}">
                                    <a class="{% here month_archive.url %}" href="{{month_archive.url}}">{{month_archive.month}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endifequal %}
                </li>
            {% endfor %}
        </ul>
        
    </div>
    
{% endif %}