{% load pages news %}

{% if articles %}

    <div class="latest-articles">
    
        <h2><a href="{{page.url}}">{{page.title}}</a></h2>

        <ul>
        
            {% for article in articles %}
            
                <li class="{% first %} {% last %}">
                    
                    <a href="{{article.url}}">
                        
                        <span class="heading">
                            <span class="date">{{article|date_field|date}}</span>
                            <span class="title">{{article}}</span>
                        </span>
                        
                        <span class="summary">{{article.summary|default:article.content|striptags|truncatewords:5|safe}}</span>
                        
                    </a>
                    
                </li>
                
            {% endfor %}
            
        </ul>
    
    </div>
    
{% endif %}