{% load pages %}

{% if articles %}

    <ul id="latest-news">
    
        {% for article in articles %}
        
            <li class="{% mark_first %} {% mark_last %}">
                
                <a href="{{article.url}}">
                    
                    <span class="heading">
                        <span class="date">{{article.publication_date|date}}</span>
                        <span class="title">{{article}}</span>
                    </span>
                    
                    <span class="summary">{{article.summary|default:article.content|striptags|truncatewords:5|safe}}</span>
                    
                </a>
                
            </li>
            
        {% endfor %}
        
    </ul>
    
{% endif %}