{% extends "base.html" %}
{% load pages %}


{% block content_primary %}
    
    {% if articles.object_list %}
    
        {{block.super}}
    
        {% pagination articles %}
    
        <ul id="article-list">
            {% for article in articles.object_list %}
                <li>
                    <h2>
                        <span class="date">{{article.publication_date|date}}</span>
                        <a href="{{article.url}}">{{article.title}}</a>
                    </h2>
                    
                    {% if article.content.summary %}
                        {{article.content.summary|linebreaks}}
                    {% else %}
                        {% if article.content.main %}
                            {{article.content.main|truncatewords_html:100|safe}}
                        {% endif %}
                    {% endif %}
                    
                    {% if article.content.main %}
                        <p class="read-more"><a href="{{article.url}}">Read more</a></p>
                    {% endif %}
                    
                </li>
            {% endfor %}
        </ul>
        
        {% pagination articles %}
    
    {% else %}
    
        <p>There are no articles to display.</p>
    
    {% endif %}
    
{% endblock %}

