{% extends "base.html" %}
{% load pages %}


{% block meta_description %}{% meta_description %}{% endblock %}


{% block meta_keywords %}{% meta_keywords %}{% endblock %}


{% block meta_robots %}{% meta_robots %}{% endblock %}


{% block title %}{% title %}{% endblock %}


{% block nav_primary %}{% nav_primary %}{% endblock %}


{% block nav_secondary %}{% nav_secondary %}{% endblock %}


{% block nav_tertiary %}{% nav_tertiary %}{% endblock %}


{% block breadcrumbs %}{% breadcrumbs %}{% endblock %}


{% block header %}{% header %}{% endblock %}


{% block content_primary %}{% content "content_primary" %}{% endblock %}


{% block content_secondary %}{% content "content_secondary" %}{% endblock %}


{% block content_tertiary %}{% content "content_tertiary" %}{% endblock %}