{% extends "admin/change_form.html" %}
{% load url from future %}


{% block breadcrumbs %}
    <div class="breadcrumbs">
         <a href="{% url 'admin:index' %}">Home</a> &rsaquo;
         <a href="{% url 'admin:app_list' 'auth' %}">Auth</a> &rsaquo;
         {{title}}
    </div>
{% endblock %}


{% block object-tools %}{% endblock %}


{% block after_field_sets %}

    <fieldset class="module aligned">
    
        <div class="form-row">
            {{form.username.errors}}
            <label for="id_username" class="required">Username:</label> {{form.username}}
            <p class="help">{{form.username.help_text}}</p>
        </div>
        
    </fieldset>
    
    <fieldset class="module aligned">
    
        <h2>Personal information</h2>
    
        <div class="form-row">
            {{form.first_name.errors}}
            <label for="id_first_name">First name:</label> {{form.first_name}}
        </div>

        <div class="form-row">
            {{form.last_name.errors}}
            <label for="id_last_name">Last name:</label> {{form.last_name}}
        </div>
        
        <div class="form-row">
            {{form.email.errors}}
            <label for="id_email">E-mail address:</label> {{form.email}}
        </div>
    
    </fieldset>
    
    <script type="text/javascript">document.getElementById("id_username").focus();</script>

{% endblock %}

