{% load pages %}

{{block.super}}

{% if events_archive %}

    <div id="events-archive">
    
        <h2>Events Archive</h2>
        
        <p>Browse older articles below.</p>
        
        <ul>
            {% for year_archive in events_archive %}
                <li class="{% mark_first %} {% mark_last %}">
                    <a class="{% mark_here year_archive.url %}" href="{{year_archive.url}}">{{year_archive.year}}</a>
                    {% ifequal year_archive.year year %}
                        <ul>
                            {% for month_archive in year_archive.months %}
                                <li class="{% mark_first %} {% mark_last %}">
                                    <a class="{% mark_here month_archive.url %}" href="{{month_archive.url}}">{{month_archive.month}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endifequal %}
                </li>
            {% endfor %}
        </ul>
        
    </div>
    
{% endif %}