{% extends "events/base.html" %}
{% load pages %}


{% block breadcrumbs %}
    {% breadcrumbs extended %}
    <a title="Archive for {{date|date:'Y'}}" href="{% page_url page archive_year date.year %}">{{date|date:"Y"}}</a> &rsaquo;
    <a title="Archive for {{date|date:'F Y'}}" href="{% page_url page archive_month date.year, date.month %}">{{date|date:"F"}}</a> &rsaquo;
    {{event}}
{% endblock %}


{% block header %}<span class="date">{{event.start_date|date}}</span> <span class="title">{{event.title}}</span>{% endblock %}


{% block content_primary %}{{event.content|html}}{% endblock %}