{% extends "base.html" %}
{% load pages %}


{% block feeds %}<link rel="alternate" type="application/rss+xml" title="{{page.title}}" href="{{feed_url}}"/>{% endblock %}


{% block content_primary %}
    
    {% if events.object_list %}
    
        {{block.super}}
    
        {% pagination events %}
    
        <ul id="event-list">
            {% for event in events.object_list %}
                <li>
                
                    <h2>
                        <span class="event-list-date">{{event.start_date|date}}{% if event.end_date %} - {{event.end_date|date}}{% endif %}</span>
                        <a href="{{event.url}}">{{event.title}}</a>
                    </h2>
                    
                    {% if event.summary %}
                        {{event.summary|linebreaks}}
                    {% else %}
                        {{event.content|truncatewords_html:100|html}}
                    {% endif %}
                    
                    {% if event.content %}
                        <p class="event-list-read-more"><a href="{{event.url}}">Read more</a></p>
                    {% endif %}
                    
                </li>
            {% endfor %}
        </ul>
        
        {% pagination events %}
    
    {% else %}
    
        <p>There are no events to display.</p>
    
    {% endif %}
    
{% endblock %}


{% block content_secondary %}

    {{block.super}}
    
    {% if year_archives %}
        <div id="news-archives">
            <h2>Events By Year</h2>
            <ul>
                {% for year_archive in year_archives %}
                    <li class="{% mark_first %} {% mark_last %}">
                        <a class="{% mark_here year_archive.url %}" href="{{year_archive.url}}">{{year_archive.year}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

{% endblock %}

