{% load pages %}

{% if events %}

    <ul id="latest-news">
    
        {% for event in events %}
        
            <li class="{% mark_first %} {% mark_last %}">
                
                <a href="{{event.url}}">
                    
                    <span class="heading">
                        <span class="date">{{event.start_date|date}}</span>
                        <span class="title">{{event}}</span>
                    </span>
                    
                    <span class="summary">{{event.summary|default:event.content|striptags|truncatewords:5|safe}}</span>
                    
                </a>
                
            </li>
            
        {% endfor %}
        
    </ul>
    
{% endif %}