/*
    Styles used inside editable content areas.
    
    This will be used to style the content of the WYSIWYG editors.  Any CSS
    classes defined here will be made available in the drop-down list of styles.
*/


/* Standardize the layout. */
* {
    font-size: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

/* Set the default text color. */
body,
input,
textarea,
select {
    color: #333333;
}

/* Set the default font rendering. */
body {
    font-family: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
    font-size: 13px;
    line-height: 1.5;
}

h1 {
    font-size: 25px;
    margin: 0 0 20px 0;
}

h2 {
    font-size: 23px;
    clear: left;
    margin: 0 0 20px 0;
}

h3 {
    font-size: 21px;
    clear: left;
    margin: 0 0 20px 0;
}

p,
ul,
ol,
dl,
table {
    margin: 0 0 20px 0;
}

table {
    border-collapse: collapse;
}

li {
    margin: 0 0 0 30px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a img {
    border: none;
}


/*
    Drop-down styles for the WYSIWYG editor.
*/

.left {
    float: left;
    margin: 0 10px 20px 0;
}

.right {
    float: right;
    margin: 0 0 10px 20px;
}