/*
    Styles used inside editable content areas.
    
    This will be used to style the content of the WYSIWYG editors.  Any CSS
    classes defined here will be made available in the drop-down list of styles.
*/


* {
    font-size: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

body,
input,
textarea,
select {
    color: #333333;
}

body {
    font-family: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
    font-size: 13px;
    line-height: 1.5;
}

/* Content. */

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    clear: left;
    margin-bottom: 10px;
}

h3 {
    font-size: 16px;
    clear: left;
    margin-bottom: 10px;
}

p,
ul,
ol,
dl,
table {
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
}

li {
    margin-left: 20px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a img {
    border: none;
}

.left {
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}

.right {
    float: right;
    margin-left: 10px;
    margin-bottom: 20px;
}