/*
    Styles used outside of editable content areas.
    
    Any styles you wish to be available in the WYSIWYG editor should be placed
    in content.css.
*/


.container {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    position: relative;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

header,
hgroup,
nav,
section,
article,
aside,
footer {
    display: block;
}


/* Header. */

#header {
    padding-top: 30px;
}

#header h1 {
    margin-left: 10px;
    margin-right: 10px;
}


/* Primary navigation. */

#nav-primary {
    margin-bottom: 20px;
}

#nav-primary ul {
    list-style: none;
}

#nav-primary li,
#nav-primary a {
    float: left;
    margin: 0;
}

#nav-primary a {
    padding: 0 10px;
    line-height: 35px;
    height: 35px;
}


/* Breadcrumbs. */

#nav-breadcrumbs {
    margin-bottom: 10px;
}


/* Content. */

#content {
    margin-bottom: 20px;
}

#content-primary,
#content-secondary {
    float: left;
    display: inline;
    min-height: 300px;
}

#content-primary {
    width: 620px;
    margin-left: 10px;
    margin-right: 90px;
}

#content-secondary {
    width: 220px;
    margin-left: 10px;
    margin-right: 10px;
}


/* Footer. */

#footer p {
    margin-left: 10px;
    margin-right: 10px;
}