/*
    Styles used outside of editable content areas.
    
    Any styles you wish to be available in the WYSIWYG editor should be placed
    in content.css.
*/


.container {
    margin: 0 auto;
    width: 960px;
    position: relative;
}

.col {
    display: inline;
    float: left;
    margin: 0 10px;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}