{% extends "layout.html" %}
[% load page %}


{% block browser_title %}{% include "browser_title.html" %}{% endblock %}


{% block meta_description %}{% include "meta_description.html" %}{% endblock %}


{% block meta_keywords %}{% include "meta_keywords.html" %}{% endblock %}


{% block meta_robots %}{% include "meta_robots.html" %}{% endblock %}


{% block title %}{% include "title.html" %}{% endblock %}


{% block breadcrumbs %}{% include "breadcrumbs.html" %}{% endblock %}


{% block nav_primary %}{% include "nav_primary.html" %}{% endblock %}


{% block nav_secondary %}{% include "nav_secondary.html" %}{% endblock %}


{% block nav_tertiary %}{% include "nav_tertiary.html" %}{% endblock %}


{% block content_primary %}{{content.content_primary|safe}}{% endblock %}


{% block content_secondary %}{{content.content_secondary|safe}}{% endblock %}


{% block content_tertiary %}{{content.content_tertiary|safe}}{% endblock %}

