{% extends "layout.html" %}
{% load pages %}


{% block browser_title %}{% include "browser_title.html" %}{% endblock %}


{% block meta_description %}{% meta_description %}{% endblock %}


{% block meta_keywords %}{% meta_keywords %}{% endblock %}


{% block meta_robots %}{% meta_robots %}{% endblock %}


{% block title %}{% include "title.html" %}{% endblock %}


{% block breadcrumbs %}{% include "breadcrumbs.html" %}{% endblock %}


{% block nav_primary %}{% nav_primary %}{% endblock %}


{% block nav_secondary %}{% include "nav_secondary.html" %}{% endblock %}


{% block nav_tertiary %}{% include "nav_tertiary.html" %}{% endblock %}


{% block content_primary %}{% include "content_primary.html" %}{% endblock %}


{% block content_secondary %}{% include "content_secondary.html" %}{% endblock %}


{% block content_tertiary %}{% include "content_tertiary.html" %}{% endblock %}

