<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    
    <head>
    
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        <meta name="description" content="{% block meta_description %}{% endblock %}"/>
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}"/>
        
        <title>{% block title %}{% endblock %}</title>
        
        <style type="text/css">
            a.here {font-weight: bold};
        </style>
        
    </head>
    
    <body>
        
        {% block nav_primary %}{% endblock %}
        
        {% block breadcrumbs %}{% endblock %}
        
        <h1>{% block page_header %}{% endblock %}</h1>

        {% block content_primary %}{% endblock %}
        
        {% block nav_secondary %}{% endblock %}
        
    </body>
    
</html>

