{% extends "admin/base_site.html" %}


{% block breadcrumbs %}
    <div class="breadcrumbs">
         <a href="{{root_path}}">Home</a> &rsaquo;
         <a href="{{root_path}}pages/">Pages</a> &rsaquo;
         <a href="{{root_path}}pages/page/">Page</a> &rsaquo;
         {{title}}
    </div>
{% endblock %}


{% block content %}
    {% if content_types %}
        <p>Select a type of page from the choices below.</p>
        <ul id="content-types">
            {% for content_type in content_types %}
                <li>
                    <a href="{{content_type.url}}">
                        <img class="content-type-icon" src="{{content_type.icon}}" width="64" height="64" alt=""/>
                        <span class="content-type-name">{{content_type.name|capfirst}}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You do not have permission to create any type of page.</p>
    {% endif %}
{% endblock %}

