/*
    Style extensions for the CMS admin site.
*/


ul#content-types {
    padding: 5px 0px 0px 0px;
}

ul#content-types li {
    float: left;
    list-style: none;
    margin: 0px 0px 10px 10px;
    
}

ul#content-types a {
    display: block;
    position: relative;
    width: 100px;
    height: 110px;
    border: 1px white solid;
}

ul#content-types a:hover {
    border: 1px #b0b0b0 solid;
}

img.content-type-icon {
    position: absolute;
    top: 15px;
    left: 18px;
}

span.content-type-name {
    font-size: 120%;
    position: absolute;
    top: 85px;
    left: 0px;
    width: 100px;
    text-align: center;
}

