/*
    Style extensions for the CMS admin site.
*/


/* Dashboard index page. */

html body.dashboard #content {
    width: 960px;
}

html body.dashboard #content-main {
    width: 400px;
}

html body.dashboard div#content-related {
    width: 550px;
    margin-right: 0px;
}

body.dashboard div#content-related h2 {
    margin-bottom: 10px;
}

body.dashboard #sitemap-module ul {
    margin: 0px 10px 10px 10px;
    padding: 0px 0px 0px 0px;
}

body.dashboard #sitemap-module li {
    position: relative;
    list-style: none;
    padding: 0px 0px 0px 0px;
}

body.dashboard #sitemap-module li.closed ul {
    display: none;
}

body.dashboard #sitemap-module li li {
    margin: 0px 0px 0px 27px;
}

body.dashboard div.sitemap-entry {
    border: 1px #eeeeee solid;
    position: relative;
    padding: 5px 7px 6px 7px;
    margin: 0px 0px 5px 0px;
    height: 14px;
}

body.dashboard div.sitemap-entry a.title,
body.dashboard div.sitemap-entry span.title {
    font-weight: bold;
    margin-right: 200px;
    display: block;
}

body.dashboard div.sitemap-entry a.addlink {
    position: absolute;
    top: 5px;
    right: 130px;
}

body.dashboard div.sitemap-entry a.changelink {
    position: absolute;
    top: 5px;
    right: 65px;
}

body.dashboard div.sitemap-entry a.deletelink {
    position: absolute;
    top: 5px;
    right: 7px;
}

body.dashboard #sitemap-module ul ul {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

body.dashboard div.offline a.title,
body.dashboard div.offline span.title {
    text-decoration: line-through;
}

body.dashboard div.sitemap-collapse-control {
    position: absolute;
    top: 5px;
    left: -20px;
    width: 13px;
    height: 13px;
    cursor: pointer;
    background-image: url(../img/arrows.png);
    background-position: -13px 0px;
}

body.dashboard .sitemap-collapse-control:hover {
    background-position: 0px 0px;
}

body.dashboard li.closed .sitemap-collapse-control {
    background-position: -13px -13px;
}

body.dashboard li.closed .sitemap-collapse-control:hover {
    background-position: 0px -13px;
}

body.dashboard div.sitemap-entry .move-up,
body.dashboard div.sitemap-entry .move-down {
    width: 11px;
    height: 5px;
    background-image: url(../img/arrows.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 172px;
    cursor: pointer;
    border: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    color: transparent;
    font-size: 0px;
    line-height: 0px;
    display: block;
    text-indent: -999px;
    outline: none;
}

body.dashboard div.sitemap-entry .move-up {
    background-position: -15px -29px;
    top: 5px;
}

body.dashboard div.sitemap-entry .move-up:hover {
    background-position: -2px -29px;
}

body.dashboard div.sitemap-entry .move-down {
    background-position: -15px -34px;
    top: 14px;
}

body.dashboard div.sitemap-entry .move-down:hover {
    background-position: -2px -34px;
}


/* Page content type selection page. */

h3.classifier {
    clear: left;
    padding: 5px 0px 5px 0px;
    border-bottom: 1px #eeeeee solid;
}

ul.content-types {
    padding: 0px 0px 0px 0px;
}

ul.content-types li {
    float: left;
    list-style: none;
    margin: 0px 10px 10px 0px;
    
}

ul.content-types a {
    display: block;
    position: relative;
    width: 100px;
    height: 110px;
    border: 1px white solid;
}

ul.content-types a:hover {
    border: 1px #b0b0b0 solid;
}

img.content-type-icon {
    position: absolute;
    top: 15px;
    left: 18px;
}

span.content-type-name {
    font-size: 120%;
    position: absolute;
    top: 85px;
    left: 0px;
    width: 100px;
    text-align: center;
}


/* Ajax loader. */

#sitemap-module .loading {
    margin: 0 0 0 10px;
    padding: 0 0 10px 40px;
    background: url(../img/ajax-loader.gif) 0 0 no-repeat;
    height: 30px;
    line-height: 30px;
    color: #5B80B8;
}